@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

// Variables
$breakpoint: 950px;

// Site Header
$site_header_padding: 16px;
$site_header_links_gap: 32px;
$site_header_font_size: 23px;
$site_header_background_color: white;

// Page Content
$page_margin_horizontal: 142px;
$page_margin_vertical: 56px;
$section_heading_font_size: 2.074rem;
$body_text_heading_font_size: 1.44rem;
$large_body_text_font-size: 1.44rem;

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Ubuntu", sans-serif;
	div#root {
		img {
			max-width: 100%;
			height: auto;
		}

		a {
			text-decoration: none;
			color: inherit;
		}

		ul {
			list-style-type: none;
		}

		header.site-header {
			padding: $site_header_padding $page_margin_horizontal;
			font-size: $site_header_font_size;

			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;

			position: sticky;
			top: 0;
			z-index: 100;
			background-color: $site_header_background_color;

			// Temporary
			border-bottom: 1px solid lightgray;

			ul {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				align-items: center;
				gap: $site_header_links_gap;
			}
		}

		.page-content {
			margin: $page_margin_vertical $page_margin_horizontal;

			section {
				&#teamMembers {
					// About Page Variables
					text-align: center;
					$team_members_gap: 56px;
					$team_heading_margin_bottom: 32px;
					$team_intro_margin_bottom: 72px;
					$team_member_image_margin_bottom: 24px;
					$team_member_name_margin_bottom: 8px;
					$team_member_role_margin_bottom: 8px;

					.section-heading {
						text-align: center;
						text-transform: capitalize;
						margin-bottom: $team_heading_margin_bottom;
						font-size: $section_heading_font_size;
						font-weight: 500;
					}

					.team-intro {
						margin-bottom: $team_intro_margin_bottom;
						font-weight: 400;
						font-size: $large_body_text_font-size;
					}

					& > div {
						display: flex;
						flex-flow: row wrap;
						justify-content: center;
						gap: $team_members_gap;

						.team-member {
							flex-grow: 1;
							flex-basis: 25%;

							@media screen and (max-width: $breakpoint) {
								flex-basis: 100%;
							}

							img.team-member-image {
								border-radius: 50%;
								margin-bottom: $team_member_image_margin_bottom;
							}

							p.team-member-name {
								margin-bottom: $team_member_name_margin_bottom;
								font-size: $body_text_heading_font_size;
								font-weight: 500;
							}

							p.team-member-role {
								margin-bottom: $team_member_role_margin_bottom;
								font-size: $body_text_heading_font_size;
								font-weight: 400;
							}
						}
					}
				}
			}
		}
	}
}
